@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Nabla&display=swap');
img {
    width: 100%;
}

h2{
    font-family: 'Nabla', cursive;
    text-align: center;
    font-size: 40px;
    background-color: rgba(207, 25, 207, 0.729);
}