@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Nabla&family=Rubik+Iso&display=swap');

.Navigation {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  
    @media (min-width: 700px) {
      flex-direction: row;
    }
  
    a {
      padding: 3px 7px;
      color: var(--white-color);
      text-decoration: none;
      padding: 0;
    }
  }

  nav {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: rgba(24, 24, 63, 0.841);
  }